html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(29, 5, 53);
}




body {

  margin: 0 auto;
}


img {
  height: 350px;
  width: 280px;
  margin: 0 auto;
}


.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 520px;
  height: auto;
  border-radius: 30px;
  border: 5px double chocolate;
  box-shadow: 2px 5px 8px grey;
  margin-left: auto;
  margin-right: auto;
}
